<table>
    <tr>
        <th>Código</th>
        <th>Numero</th>
        <th>Total</th>
        <th>Cliente</th>
        <th>Detalle</th>
    </tr>
    <tr *ngFor="let fact of facturas | async">
        <td>{{fact.codigo}}</td>
        <td>{{fact.numero}}</td>
        <td>{{fact.total}}</td>
        <td>{{fact.cliente.nombre}}</td>
    </tr>
</table>

<h1>DETALLES</h1>
<table>
<tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>Cantidad</th>
    <th>Precio</th>
    
</tr>
<tr *ngFor="let det of detalles | async">
    <td>{{det.codigo}}</td>
    <td>{{det.nombre}}</td>
    <td>{{det.cantidad}}</td>
    <td>{{det.precio}}</td>
</tr>
</table>


